body {
	background-color: red;
}

nav {
	display: inline-block;
	border: 3px solid blue;
}

.menu {
	border: 3px solid black;
}

h1, h2, h3 {
	font-family: 'Courier New', monospace;
	font: 40px/50px;
}
	
p, li, a {
	font-family: 'Trebuchet MS', sans-serif;
}
	

img {
	border: 5px double black;
}