body {
	background-color: red;
}

nav {
	padding: 0;
	margin: 0;
	display: flex;
}

.menu a {
	
	float: left;
	border: 3px solid black;
	text-align: center;
	color: black;
	padding: 10px 16px;
	text-decoration: none;
}

.menu a:hover {
	background-color: black;
	color: white;
}

h1, h2, h3 {
	font-family: 'Courier New', monospace;
	font: 40px/50px;
}
	
p, a {
	font-family: 'Trebuchet MS', sans-serif;
}
	
a {
	color: white;
}		
	
img {
	border: 5px double black;
}