body {
	background-color: red;
}

h1, h2, h3 {
	font-family: 'Courier New', monospace;
	font: 40px/50px;
}
	
p, li {
	font-family: 'Trebuchet MS', sans-serif;
}

a {
	font-family: 'Trebuchet MS', sans-serif;
	border: 3px solid blue;
}
	

img {
	border: 5px double black;
}